div.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 4px 0 0 0;
    font-size: 12pt;
}

button {
    width: 235px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #08f;
    font-size: 12pt;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    color: #fff;
    background: #08f;
    transition: .2s all linear;
}
button:active {
    transition: .05s all linear;
    background: #07e;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1) inset;
}
button:hover { background: #07e; }

textarea {
    display: inline-block;
    resize: vertical;
    min-height: 100px;
    margin: 5px;
    padding: 5px;
    flex: 1;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color .2s ease-in-out;
}
textarea:focus { border-color: #aaf; }

input {
    display: inline-block;
    max-width: 100px;
    margin: 5px;
    padding: 5px;
    flex: 1;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color .2s ease-in-out;
}
input:focus { border-color: #aaf; }
